*,
*::after,
*,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-black: #333333;
  --clr-white: #fff;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.phone-logo {
  background-color: aqua;
}

.email-logo {
  background-color: aqua;
}
.menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hc-1 {
  display: flex;
}

.hc-2 {
  display: flex;
}

.hc-description {
  display: flex;
  flex-direction: column;
}
